<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <section th:replace="layout :: header">

    </section>

    <title th:text="'giflib | ' + ${category.name}">Category</title>
</head>
<body>
<div class="navbar-fixed" th:replace="layout :: navigation">

</div>
<div class="search-bar container">
    <div class="row">
        <div class="col s12">
            <form action="#" method="get">
                <div class="input-field">
                    <input name="q" type="search" placeholder="Search all gifs..." required="required" autocomplete="off"/>
                    <i class="material-icons">search</i>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="gifs container">
    <div class="chip" th:text="${category.name}">category name</div>
    <div class="row">

        <div th:each="gif : ${gifs}" class="col s12 l4">

            <a th:href="@{'/gif/' + ${gif.name}}">

                <img th:src="@{'/gifs/' + ${gif.name} + '.gif'}" />
                <a href="#" th:class="(${gif.favorite}? 'un' : '') + 'mark favorite'"></a>
            </a>
        </div>
    </div>
</div>

<section th:replace="layout :: scripts">

</section>
</body>
</html>